/* Overall styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

.container {
    padding: 2rem 1.5rem;
}

.background-color {
    background-color: darkgray;
}

h2 {
    margin: 1.5rem 0;
    text-align: center;
}

/* header section */

header {
    margin-top: 0;
    height: 4rem;
    position: fixed;
    z-index: 10;
    background-color: white;
    width: 95%; /*Why do the sides go off the page when I have a margin of 1.5rem on the sides? Why do I need this width: 95% thing? and why does the right margin get smaller but the left one doesn't?*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header.logo, header h1 {
    display: inline-block;
} 

header h1 {
    text-transform: uppercase;
}

header.logo {
    height: 2rem;
    width: auto;
}

header nav li, footer nav li {
    display: inline;
    margin-left: 1rem;
}

main {
    position: relative;
    top: 4rem;
}

/* first section */

.intro {
    display: flex;
    align-items: center;
    background-color: darkgrey;
}

.intro figure {
    width: 60%;
    overflow: hidden;
}

.intro figure img {
    max-width: 100%;
    height: auto;
    display: block;
}

.intro .container {
    /*margin: 1.5rem;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

intro .container p, .button {
    margin: 1.5rem 0;
}

.button {
    padding: 0.5rem;
    text-align: center;
    background-color: gray;
    color: white;
    text-decoration: none;
}

/* second section, information, and 4th section, theses */

.exhibit {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;
}

.left {
    width: 60%;
    overflow: hidden;
    padding-right: 1.5rem;
}

.left img, .left video {
    max-width: 100%;
    height: auto;
    display: block;
}

.right-container {
    width: 40%;
}

.mobile {
    display: none;
}

.box {
    display: flex;
    align-items: center;
    border: solid darkgray 1px;
}

.box figure {
    width: 35%;
    overflow: hidden;
    height: 100%;
    margin: 1rem;
}

.box .desktop {
    max-width: 100%;
    display: block;
    height: auto;
}

.box .text {
    width: 65%;
}

.box .text * {
    margin-bottom: 0.5rem;
}

/* 3rd section, majors */

.majors-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-left: 3rem;
    padding-right: 3rem;
}

.major {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1rem;
    background-color: white;
    padding-bottom: 1.5rem;
    width: 30%;
    min-height: 20rem;
}

.major figure {
    max-width: 33.25rem;
    height: 100%;
    overflow: hidden;
}

.major img {
    max-width: 100%;
    height: auto;
    display: block;
}

.major h3 {
    padding: 1rem;
}

.courses {
    text-transform: uppercase;
    padding: 0.5rem 1rem;
}

.classes {
    text-transform: capitalize;
    padding: 0 1rem;
}

/* 4th section, theses. Details not covered in 2nd section. */

.left h3 {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}

/* Footer */

footer {
    position: relative;
    top: 4rem;
    height: 4rem;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
}

footer nav {
    display: inline-block;
}

/* mobile media query */

@media only screen and (max-width: 721px) {
    
    /* overall styling */
    
    body {
        max-width: 721px;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: initial;
    }

    .container {
        margin: 2rem 1rem;
    }

    main figure {
        width: 100%;
    }

    /* header section */

    .icon-navbar {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    /* intro section, first section */

    .intro {
        margin: 0;
        margin-bottom: 2rem;
        display: initial;
    }

    .intro .container {
        padding: 0 1rem 0 1rem;
    }

    .intro h2 {
        text-align: left;
    }
}








